h1 {
  font-family: 'Helvetica';
  font-weight: 600;
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
}

.about-info {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1.5vh;
}

.about-info p {
  font-family: 'Helvetica';
  font-weight: 400;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 10px;
  padding-right: 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.about-info img {
  height: 300px;
  width: 350px;
}

.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
}

.additional-info p {
  font-family: 'Helvetica';
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
}

.additional-info p span {
  color: #6c6c6c;
}

.img-h2 {
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5vh;
}

.img-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
}

.img1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.img2 {
  grid-column: 2/2;
  grid-row: 1/1;
}

.img3 {
  grid-column: 3/3;
  grid-row: 1/1;
}

.img4 {
  grid-column: 3/3;
  grid-row: 2/2;
}

.img5 {
  grid-column: 1/1;
  grid-row: 2/2;
}

.img6 {
  grid-column: 2/2;
  grid-row: 2/2;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  height: 200px;
  width: 100%;

  border: #ffffff 1px solid;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
}

.img1:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

.img2:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

.img3:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

.img4:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

.img5:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

.img6:hover {
  background-color: #181818;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.25s ease;
}

@media (max-width: 680px) {
  header img {
    max-width: 640;
    width: 500px;
  }

  .img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .img1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .img2 {
    grid-column: 2/2;
    grid-row: 1/1;
  }

  .img3 {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .img4 {
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .img5 {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .img6 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
}

@media (max-width: 550px) {
  header img {
    width: 450px;
  }

  .about-info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5vh;
  }

  .about-info img {
    width: 200px;
    height: 200px;
  }

  .about-info p {
    font-size: 1rem;
  }

  .additional-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .additional-info p {
    word-wrap: break-word;
    font-size: 0.8rem;
  }

  .img-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .img-gallery img {
    max-width: 450px;
  }

  .img1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .img2 {
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .img3 {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .img4 {
    grid-column: 1/1;
    grid-row: 4/4;
  }

  .img5 {
    grid-column: 1/1;
    grid-row: 5/5;
  }

  .img6 {
    grid-column: 1/1;
    grid-row: 6/6;
  }
}

@media (max-width: 470px) {
  header img {
    width: 350px;
  }

  h1 {
    font-size: 2rem;
  }

  .img-h2 {
    font-size: 2rem;
  }
}
