* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  display: grid;
  grid-template-areas:
    'navigation'
    'header'
    'main'
    'footer';
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(24, 24, 24, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

.characters {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(24, 24, 24, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
}

.nav {
  grid-area: 'navigation';
  color: white;
}

.nav img {
  float: left;
  position: relative;
  height: 70px;
  width: 150px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-flex;
  justify-content: space-evenly;
}

.nav ul li a {
  display: block;
  padding: 26px;
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Helvetica';
  font-weight: 300;
}

header {
  display: inline-flex;
  justify-content: center;
}

main {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas:
    'search'
    'buttons'
    'main';
  margin-bottom: 2vh;
}

footer {
  grid-area: 'footer';
  height: 10vh;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  border-top: #808080 1px solid;
}

.footer-container .social-media {
  grid-row: 1/1;
  grid-column: 2/2;

  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.social-media p {
  padding: 26px;
  color: #808080;
  cursor: pointer;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-left: 25px;
  padding: 0;
}

.footer-container .terms {
  grid-row: 1/1;
  grid-column: 1/1;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container ul li {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-container ul li a {
  padding: 5px;
  color: #808080;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Helvetica';
  font-weight: 300;
}

.footer-container ul li a:hover {
  text-decoration: underline;
}
